body {
  margin: 0;
  padding: 0;
  background-color: #e5e5e5;
}

table {
  border: 0;
}

td {
  padding: 0;
}

img {
  border: 0;
}

.wrapper {
  width: 100%;
  table-layout: fixed;
  background-color: #e5e5e5;
  padding-bottom: 40px;
}

.webkit {
  max-width: 600px;
  background-color: #ffffff;
}

.outer {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  border-spacing: 0;
  font-family: sans-serif;
  color: black;
}

.headerTD {
  background: linear-gradient(
    262.27deg,
    rgba(97, 117, 202, 0) -47.53%,
    rgba(97, 117, 202, 0.1512) 43.46%,
    rgba(137, 130, 255, 0.42) 129.17%
  );
  transform: matrix(-1, 0, 0, 1, 0, 0);
  padding: 10px;
  text-align: left;
}

.logo {
  width: 180px;
}

.textHi {
  text-align: center;
}

.paragraphText {
  text-align: justify;
  padding: 80px;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.links {
  width: 70%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.socials {
  width: 2em;
}

.linking {
  text-decoration: underline;
  color: #f07867;
}

.photoYT {
  max-width: 400px;
  border-radius: 20px;
}

.photoCenter {
  text-align: center;
}

.imageCenter {
  width: 123px;
  height: 123px;
}

#imageCenter {
  text-align: center;
}

.textCenter {
  text-align: center;
  color: #6782f2;
  font-weight: bold;
}

.subText {
  text-align: center;
  color: black;
  font-weight: bold;
}

/*CONTAINER GLASS*/

.container {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  max-width: 600px;
  flex-wrap: wrap;
  z-index: 1;
}

.container .card {
  position: relative;
  width: 180px;
  height: 150px;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.container .card .content {
  padding: 20px;
  text-align: center;
}

.container .card .content h3 {
  text-align: center;
  top: 40px;
  right: 30px;
  font-size: 15px;
  pointer-events: none;
}

.container .card .content p {
  font-size: 11px;
  z-index: 1;
}

.container .card .content a {
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container .card .content img {
  width: 2em;
}

@media screen and (max-width: 600px) {
  .logo {
    width: 150px;
  }
  .textHi {
    font-size: 25px;
  }
  .paragraphText {
    font-size: 10px;
  }
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60px;
  }

  .socials {
    width: 1.3em;
  }

  .photoYT {
    max-width: 300px;
    border-radius: 20px;
  }

  .imageCenter {
    width: 100px;
    height: 100px;
  }
  .container .card {
    position: relative;
    width: 150px;
    height: 130px;
    margin: 25px;
  }
  .container .card .content h3 {
    text-align: center;
    top: 35px;
    right: 25px;
    font-size: 12px;
    pointer-events: none;
  }

  .container .card .content p {
    font-size: 10px;
    z-index: 1;
  }

  .container .card .content img {
    width: 1.5em;
  }
}
@media screen and (max-width: 400px) {
  .logo {
    width: 130px;
  }
  .textHi {
    font-size: 20px;
  }
  .paragraphText {
    font-size: 9px;
  }
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 55px;
  }

  .socials {
    width: 0.8em;
  }

  .photoYT {
    max-width: 2500px;
    border-radius: 20px;
  }

  .imageCenter {
    width: 80px;
    height: 80px;
  }
  .container .card {
    position: relative;
    width: 120px;
    height: 100px;
    margin: 20px;
  }
  .container .card .content h3 {
    text-align: center;
    top: 30px;
    right: 20px;
    font-size: 10px;
    pointer-events: none;
  }

  .container .card .content p {
    font-size: 9px;
    z-index: 1;
  }

  .container .card .content img {
    width: 1em;
  }
}
